.projects {
    padding: 80px 0;
    position: relative;
    /* background-color: black; */
}

.projects h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.projects p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.projects .nav.nav-pills {
    width: 72%;
    margin: 0 auto 3rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: rgba(255, 255, 255, 10%);
    overflow: hidden;
}

.projects .nav.nav-pills .nav-item {
    width: 33.3333%;
    cursor: pointer;
}

.projects .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 17px;
    letter-spacing: .8px;
    font-weight: 500;
    position: relative;
    text-align: center;
    z-index: 0;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.projects .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    transition: .4 ease-in-out;
    -webkit-transition: .4 ease-in-out;
    -moz-transition: .4 ease-in-out;
    -ms-transition: .4 ease-in-out;
    -o-transition: .4 ease-in-out;
}

.projects .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.projects .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 0 0 55px;
    -webkit-border-radius: 55px 0 0 55px;
    -moz-border-radius: 55px 0 0 55px;
    -ms-border-radius: 55px 0 0 55px;
    -o-border-radius: 55px 0 0 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 55px 55px 0;
    -webkit-border-radius: 0 55px 55px 0;
    -moz-border-radius: 0 55px 55px 0;
    -ms-border-radius: 0 55px 55px 0;
    -o-border-radius: 0 55px 55px 0;
}

.project-image-box {
    position: relative;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    margin-bottom: 24px;
}

.project-image-box::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.project-image-box:hover::before {
    height: 100%;
}

.text {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}

.project-image-box:hover .text {
    top: 50%;
    opacity: 1;
}

.text h4 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.1em;
}

.text span {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .8px;
}

.background-image-right {
    position: absolute;
    top: 20%;
    bottom: 0;
    right: 0;
    z-index: -4;
    width: 35%;
}